body {
  /* Background */
  --primary-background: rgb(239, 239, 244);
  --secondary-background: rgb(232, 232, 234);
  --divider: rgb(200, 200, 200);
  --strong-divider: rgb(100, 100, 100);
  --nav-bar: rgb(232, 232, 234);
  --highlight: rgb(0, 122, 255);
  --light-highlight: rgb(220, 232, 245);
  /* Text */
  --primary-text: rgb(0, 0, 0);
  --secondary-text: rgb(100, 100, 100);
  --subtle-text: rgb(180, 180, 180);
  --highlight-text: rgb(0, 122, 255);
  --negative-text: rgb(255, 59, 48);
  --light-text: rgb(255, 255, 255);
  /* Buttons */
  --background-button-positive: rgb(0, 122, 255);
  --background-button-secondary: rgb(218, 218, 223);
  --background-button-negative: rgb(255, 59, 48);
  --background-button-disabled: rgb(218, 218, 223);
  /* Spacing */
  --spacing-xs: 2px;
  --spacing-s: 4px;
  --spacing-m: 8px;
  --spacing-l: 12px;
  --spacing-xl: 16px;
  --spacing-xxl: 24px;
  --spacing-xxxl: 32px;
  --border-radius-s: 2px;
  --border-radius-m: 4px;
  --border-radius-l: 8px;
  --nav-bar-height: 50px;
}

body.dark-mode {
  --primary-background: rgb(42, 43, 46);
  --secondary-background: rgb(34, 35, 36);
  --divider: rgb(70, 72, 73);
  --strong-divider: rgb(100, 100, 100);
  --pressed-background: rgb(50, 52, 53);
  --nav-bar: rgb(34, 35, 36);
  --highlight: rgb(50, 140, 220);
  --light-highlight: rgb(220, 232, 245);
  /* Text */
  --primary-text: rgb(255, 255, 255);
  --secondary-text: rgb(200, 200, 200);
  --subtle-text: rgb(140, 140, 140);
  --highlight-text: rgb(50, 140, 220);
  --negative-text: rgb(255, 59, 48);
  --light-text: rgb(255, 255, 255);
  /* Buttons */
  --background-button-positive: rgb(50, 140, 220);
  --background-button-secondary: rgb(82, 83, 86);
  --background-button-negative: rgb(255, 59, 48);
  --background-button-disabled: rgb(70, 72, 73);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  touch-action: manipulation;
}

*:focus {
  outline-color: var(--highlight);
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: var(--secondary-background);
}

#root {
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {
  #root {
    width: 600px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }
}

span,
textarea,
input {
  font-family: "Roboto Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px var(--primary-background) inset !important;
  -webkit-box-shadow: 0 0 0 30px var(--primary-background) inset !important;
  -webkit-text-fill-color: var(--secondary-text) !important;
}

ul,
li {
  list-style: none;
}

@keyframes slideIn {
  0% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0);
  }
}
